@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
}
.skewed {
  height: 100%; /* Set the height to 100% so it covers the entire parent div */
  display: flex; /* Use flexbox to align the rating and text */
  align-items: center; /* Vertically center the rating and text */
  justify-content: flex-end; /* Align the rating to the right edge */
  transform: skewX(-20deg); /* Apply a horizontal skew transformation */
  transform-origin: 100% 0%; /* Set the transform origin to the top right corner */
}
.bg-blur {
  backdrop-filter: blur(
    10px
  ); /* adjust the value to control the amount of blur */
}
